{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],

  "extends": [
    "plugin:playwright/playwright-test",
    "prettier"
  ],
  "rules": { "prettier/prettier": "error" }
}
